.new-post-btn {
  display: block;
  width: 500px;
  background: #0094ff;
  font-family: "Inter", sans-serif;
  text-align: center;
  border: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 60px;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}

.new-post-btn:hover {
  opacity: 0.8;
}

@media (max-width: 1199px) {
  .new-post-btn {
    width: 409px;
    font-size: 19px;
    line-height: 55px;
  }
}

@media (max-width: 880px) {
  .new-post-btn {
    width: 308px;
    font-size: 18px;
    line-height: 50px;
  }
}
